$gray-one:  #333333;
$gray-two: #4F4F4F;
$gray-three: #828282;
$gray-four: #E0E0E0;

img{
  max-inline-size: 100%;
  block-size: auto;
}

.flex{
  display: flex;
}

button{
  border: 2px solid #4F4F4F;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  border-radius: 10px;
}
