@media (min-width: 967px) {

  main{
    inline-size: 75%;
    margin: auto;
  }

  .id{
    display: flex;
    margin: auto;

    .write-up{
      margin-inline-start: 30px;

      .writing{
        margin-block-start: 40px;

        .writing-two{
          margin-block-start: 20px;
        }
      }
    }

    .info{
      display: flex;
      justify-content: space-between;

      h4{
        margin-block-end: 10px;
      }

      p{
        margin-block-end: 10px;
      }
    }
  }

  .skills{
    grid-column: 1/5;

    .title{
      margin-block-end: 40px;
      margin-block-start: 10px;
    }

    .items{
      margin-block-start: 15px;
    }

    .item{
      margin-block-end: 20px;
      font-size: 15px;
    }
  }

  .section-one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .blog-mobile{
    display: none;
  }

  .blog-desktop{

    grid-column: 5/13;
    grid-row: 1/3;

    .title{
      inline-size: 75%;
    }

    .top{
      display: flex;
      justify-content: space-between;
    }

    .bottom{
      margin-block-start: 50px;
    }

    h4{
      margin-block-end: 30px;
    }

    h3{
      margin-block-end: 20px;
    }

    .first-text{
      margin-block-end: 15px;
    }

    .second-text{
      margin-block-end: 30px
    }
  }

  .hobbies{
    grid-row: 2/4;
    grid-column: 1/5;
  }

  .experiences{
    grid-row: 3/4;
    grid-column: 5/13;

    .item{
      display: flex;
      gap: 2rem;
    }

    .text{
      margin-inline-start: 120px;
    }
  }

  .projects{

    button{
      margin-inline-start: 20px;
    }
  }

  footer{
    margin-block-start: 80px;
  }

}
