@import "config";
@import "desktop";
@import "mobile";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
}

.id{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 10px;
  margin-block-start: 20px;
  margin-block-end: 20px;

  .info{

    h4{
      color: $gray-two;
    }

    p{
      font-weight: bold;
      color: $gray-three;
      font-size: 14px;
    }
  }

  img{
    border-radius: 12px;
  }

  .writing{
    font-size: 16px;
    color: $gray-three;
    font-weight: bold;
  }

}

.skills{
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 12px;
  color: $gray-two;

  .item{
    font-weight: bold;
  }

  .title{
    font-weight: bold;
  }
}

.blog{
  background-color: #FFFFFF;
  padding-inline-start: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  border-radius: 10px;

  h4{
    color: $gray-four;
  }

  h3{
    color: $gray-one;
  }

  p{
    font-size: 14px;
  }

  a{
    text-decoration: none;
    color: #2F80ED;
  }
}

.hobbies{
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 12px;

  div{
    margin-block-end: 20px;
  }

  img{
    border-radius: 12px;
    margin-block-end: 5px;
  }

  h3{
    margin-block-end: 50px;
    color: $gray-two;
  }

  h4{
    margin-block-end: 10px;
    color: $gray-one;
  }

  p{
    color: $gray-three;
    font-size: 15px;
  }
}

.experiences{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .date{
    margin-block-start: 6px;
  }

  h4{
    color: $gray-one;
    margin-block-start: 10px;
    margin-block-end: 20px;
  }

  p{
    font-size: 14px;
  }

}

.projects{
  margin-block-start: 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 10px;

  button:hover{
    background-color: #2F80ED;
    color: #FFFFFF;
    border: none;
  }

  p{
    color: $gray-two;
    font-weight: bold;
    margin-block-end: 20px;
  }

  .button{
    background-color: #FFFFFF;
    color: $gray-two;
  }
}

.challenges{
  display: flex;
  gap: 2rem;
  margin-block-start: 20px;

  h3{
    color: $gray-one;
    margin-block-end: 10px;
  }

  .challenge{
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
  }

  .desc{
    font-size: 14px;
  }

  .buttons{
    margin-block-start: 20px;

    .demo{
      background-color: #2F80ED;
      color: #FFFFFF;
      border: none;
    }

    .code{
      background-color: #FFFFFF;
      border: 2px solid #2F80ED;
      color: #2F80ED;
    }

    button{
      margin-inline-end: 10px;
    }
  }

  .skill{
    display: flex;
    gap: 1rem;
    color: $gray-two;
    font-weight: bold;
    margin-block-start: 20px;
    margin-block-end: 30px;
  }
}


footer{
    text-align: center;
    margin-block-end: 10px;

    a{
      text-decoration: none;
      color: inherit;
      font-size: 10px;
      font-weight: bold;
    }

    p{
      font-size: 12px;
    }
}
